.registration-container {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin-left: 10%;
    padding: 20px;
    border-radius: 8px;
  }
  
  .registration-title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 35px;
  }
  
  .registration-form {
    display: flex;
    flex-direction: column;
  }
  
  .registration-form > div{
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .registration-form label {
    color: black;
    font-weight: bold;
  }
  
  .registration-link {
    margin-top: 10px;
    text-align: center;
  }
  
  .registration-link a {
    color: black;
    text-decoration: none;
  }
  
  .error {
    font-size: 14px;
  }
  
  button[type="submit"] {
    background-color: bisque;
    font-weight: bold;
    color: black;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button[type="submit"]:hover {
    background-color: yellowgreen;
  }
  
  .input { 
    max-width: 230px;
    width: 100%;
  }