.coolHeader h1 {
    font-size: 60px;
    font-weight: 500;
    color: bisque;
    white-space: nowrap;
    overflow: hidden;
  }

.coolHeader {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
  }

.SearchBackgroundImg {
    background-image: url("../Search/background.jpg");
}

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}